<div class="container">
    <center><h2>Login</h2>
        <my-test></my-test>
    <br />
	<input class="form-control" style="width:300px;" type="text" ng-model="login.name" placeholder="Login ID" tooltip="Enter the Login ID">
<br />
		<input class="form-control" style="width:300px;" type="password" ng-model="login.city" placeholder="Password" tooltip="Enter the password."/>
<br />
    <button class="btn btn-default" ng-click="login()">Login</button>
    </center>
</div>