<div class="container">
    <center><h2>Donor Portal</h2></center>
    <br />
    
    <tabs>
    <tab title="Donor">AK</tab>
    <tab title="Recipient">KS</tab>
    </tabs>
	<table class="table table-hover table-bordered">
		<tr>
		<td>Select</td>			
		<th>Donor Name</th>
		<th>Donor City</th>
		</tr>
		<tr>
		<td></td>
		<td><input class="form-control" type="text" ng-model="search.name" placeholder="Search Name"/></td>
		<td><input class="form-control" type="text" ng-model="search.city" placeholder="Search City"/></td>
		</tr>
		<tr ng-repeat="donor in donors | filter:search:strict"> 
		<td><input type="checkbox" ng-model="donor.selected"></td>			
		<!--td ng-if="donor.editable"><input class="form-control" type="text" ng-model="newDonor.name" id="donorName" placeholder="{{ donor.name }}"</td>
		<td ng-if="!donor.editable">{{ donor.name }}</td-->
        <td>{{ donor.name }}</td>
		<td ng-if="donor.editable"><input class="form-control" type="text" ng-model="donor.city" id="donorCity" placeholder="{{ donor.city }}"</td>
		<td ng-if="!donor.editable">{{ donor.city }}</td>
		</tr>
		<td></td>
		<td><input class="form-control" type="text" ng-model="newDonor.name" id="donorName" placeholder="Enter Donor Name"/></td>
		<td><input class="form-control" type="text" ng-model="newDonor.city" id="donorCity" placeholder="Enter Donor City"/></td>
		<tr>
		
		</tr>
	</table>
	<button class="btn btn-default" ng-click="addDonor()">Add</button>
	<button class="btn btn-default" ng-click="deleteDonor()">Delete</button>
	<button class="btn btn-default" ng-click="editDonor()">{{ euButton }}</button>
</div>